In [ ]:
#Assignment number 2

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from chefboost.training import Training
from chefboost import Chefboost as chef

In [2]:
filename='Bank_Note.csv'
names = ['variance', 'skewness', 'curtosis', 'entropy','Decision']
XX = ['variance', 'skewness', 'curtosis', 'entropy']
df=pd.read_csv(filename,names=names)
df

      variance  skewness curtosis   entropy  Decision
0      3.62160            -2.8073  -0.44699         0
1      4.54590    8.1674  -2.4586   -1.4621         0
2      3.86600   -2.6383   1.9242   0.10645         0
3      3.45660    9.5228  -4.0112   -3.5944         0
4      0.32924   -4.4552   4.5718   -0.9888         0
...        ...       ...      ...       ...       ...
1367   0.40614    1.3492  -1.4501  -0.55949         1
1368  -1.38870   -4.8773   6.4774   0.34179         1
1369  -3.75030  -13.4586            -2.7771         1
1370  -3.56370   -8.3827   12.393   -1.2823         1
1371  -2.54190             2.6842    1.1952         1

[1372 rows x 5 columns]

In [3]:
ds=df.replace(r'^\s*$', np.nan, regex=True)
ds

      variance  skewness curtosis   entropy  Decision
0      3.62160       NaN  -2.8073  -0.44699         0
1      4.54590    8.1674  -2.4586   -1.4621         0
2      3.86600   -2.6383   1.9242   0.10645         0
3      3.45660    9.5228  -4.0112   -3.5944         0
4      0.32924   -4.4552   4.5718   -0.9888         0
...        ...       ...      ...       ...       ...
1367   0.40614    1.3492  -1.4501  -0.55949         1
1368  -1.38870   -4.8773   6.4774   0.34179         1
1369  -3.75030  -13.4586      NaN   -2.7771         1
1370  -3.56370   -8.3827   12.393   -1.2823         1
1371  -2.54190       NaN   2.6842    1.1952         1

[1372 rows x 5 columns]

In [4]:
for i in XX:
    ds[i]=pd.to_numeric(ds[i],downcast="float")
ds

      variance  skewness  curtosis  entropy  Decision
0      3.62160       NaN   -2.8073 -0.44699         0
1      4.54590    8.1674   -2.4586 -1.46210         0
2      3.86600   -2.6383    1.9242  0.10645         0
3      3.45660    9.5228   -4.0112 -3.59440         0
4      0.32924   -4.4552    4.5718 -0.98880         0
...        ...       ...       ...      ...       ...
1367   0.40614    1.3492   -1.4501 -0.55949         1
1368  -1.38870   -4.8773    6.4774  0.34179         1
1369  -3.75030  -13.4586       NaN -2.77710         1
1370  -3.56370   -8.3827   12.3930 -1.28230         1
1371  -2.54190       NaN    2.6842  1.19520         1

[1372 rows x 5 columns]

In [5]:
ds.isnull().sum()

variance     0
skewness    14
curtosis    21
entropy      4
Decision     0
dtype: int64

In [6]:
ds=ds.fillna(ds.mean())

In [7]:
ds

      variance   skewness   curtosis  entropy  Decision
0      3.62160   1.935222  -2.807300 -0.44699         0
1      4.54590   8.167400  -2.458600 -1.46210         0
2      3.86600  -2.638300   1.924200  0.10645         0
3      3.45660   9.522800  -4.011200 -3.59440         0
4      0.32924  -4.455200   4.571800 -0.98880         0
...        ...        ...        ...      ...       ...
1367   0.40614   1.349200  -1.450100 -0.55949         1
1368  -1.38870  -4.877300   6.477400  0.34179         1
1369  -3.75030 -13.458600   1.379225 -2.77710         1
1370  -3.56370  -8.382700  12.393000 -1.28230         1
1371  -2.54190   1.935222   2.684200  1.19520         1

[1372 rows x 5 columns]

In [8]:
X=ds.iloc[:,0:4]
Y=ds.iloc[:,4]
Input=X.values
Output=Y.values
#splitting the data into 20% test data and 80% training data.
input_train, input_test, output_train, output_test = train_test_split(Input, Output, test_size = 1/5, random_state = 1)

In [9]:
print(input_train)
print("\n")
print(input_train)

[[ -4.0679     2.4955     0.79571   -1.1039  ]
 [ -2.6649   -12.813     12.6689    -1.9082  ]
 [  3.6277     0.9829     0.68861    0.63403 ]
 ...
 [ -4.3667     6.0692     0.57208   -5.4668  ]
 [  2.0466     2.03       2.1761    -0.083634]
 [ -2.3147     3.6668    -0.6969    -1.2474  ]]


[[ -4.0679     2.4955     0.79571   -1.1039  ]
 [ -2.6649   -12.813     12.6689    -1.9082  ]
 [  3.6277     0.9829     0.68861    0.63403 ]
 ...
 [ -4.3667     6.0692     0.57208   -5.4668  ]
 [  2.0466     2.03       2.1761    -0.083634]
 [ -2.3147     3.6668    -0.6969    -1.2474  ]]

In [10]:
print(output_train)
print("\n")
print(output_test)

[1 1 0 ... 1 0 1]


[1 0 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 0 1 1
 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 1 1 1 1 1 0 1 1 0 0 1 1 0
 1 0 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 0 0 0 0 0 0 0
 1 1 0 1 0 0 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0
 0 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 0 1 0
 0 0 1 1 1 0 1 1 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 1 0 0 1 1 1 1 0
 1 1 1 1 0 0 0 0 1 1 0 0 0 0 1 1 1 1 0 0 0 0 0 1 1 1 0 0 1 0 0 1 1 1 0 0 0
 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0]

In [11]:
model=DecisionTreeClassifier()   # CART
model.fit(input_train,output_train)
predicted_output = model.predict(input_test)
#print(predicted_output)
mm=len(predicted_output)
#print(output_test)
#print(len(output_test))
count=0
for i in range(len(output_test)):
    if output_test[i]==predicted_output[i]:
        count+=1
    else:
        pass
l=(count/mm)*100
print("Accuracy for the Test Data-{0}".format(l))

Accuracy for the Test Data-97.45454545454545

In [12]:
config = {'algorithm': 'C4.5'}
model2 = chef.fit(ds, config = config)

WARNING: You set the algorithm to  C4.5  but the Decision column of your data set has non-object type.
That's why, the algorithm is set to Regression to handle the data set.
Regression  tree is going to be built...
-------------------------
finished in  2.4757425785064697  seconds
-------------------------
Evaluate  train set
-------------------------
MAE:  0.09256559766763849
MSE:  0.09256559766763849
RMSE:  0.3042459493035831
RAE:  0.45628578907464934
RRSE:  0.6122608822864173
Mean:  0.4446064139941691
MAE / Mean:  20.819672131147538 %
RMSE / Mean:  68.43040040074033 %

In [13]:
prediction = chef.predict(model2, param = [0.40614,1.3492,-1.4501,-0.55949])
prediction

1

In [14]:
gain=Training.findGains(ds,config)
gain

{'gains': {'variance': 0.1429441384769891,
  'skewness': 0.044882482586495076,
  'curtosis': 0.027652041258724613,
  'entropy': 0.0006767613623381297},
 'entropy': 0}