In [ ]:
#Assignment number 3

In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error

In [2]:
filename='Pima_indians_diabetics.csv'
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df=pd.read_csv(filename,names=names)
df

     preg plas pres skin test  mass   pedi age  class
0       6  148   72   35    0  33.6  0.627  50      1
1       1        66   29    0  26.6  0.351  31      0
2       8  183   64    0    0  23.3  0.672  32      1
3       1   89   66   23   94  28.1  0.167  21      0
4       0  137   40   35  168  43.1         33      1
..    ...  ...  ...  ...  ...   ...    ...  ..    ...
763    10  101   76   48  180  32.9  0.171  63      0
764     2  122   70   27    0  36.8   0.34  27      0
765     5  121   72   23  112  26.2  0.245  30      0
766     1        60    0    0  30.1  0.349  47      1
767     1   93   70         0  30.4  0.315  23      0

[768 rows x 9 columns]

In [3]:
ds=df.replace(r'^\s*$', np.nan, regex=True) #removing all the voids and replacing with NaN

In [4]:
ds.isnull().sum()

preg     0
plas     6
pres     2
skin     4
test     8
mass     8
pedi     6
age      4
class    0
dtype: int64

In [5]:
d1=ds.fillna(method='ffill') # filling the dataset using forwardfill and filing all the Nan place.

In [6]:
d1        # final dataset

     preg plas pres skin test  mass   pedi age  class
0       6  148   72   35    0  33.6  0.627  50      1
1       1  148   66   29    0  26.6  0.351  31      0
2       8  183   64    0    0  23.3  0.672  32      1
3       1   89   66   23   94  28.1  0.167  21      0
4       0  137   40   35  168  43.1  0.167  33      1
..    ...  ...  ...  ...  ...   ...    ...  ..    ...
763    10  101   76   48  180  32.9  0.171  63      0
764     2  122   70   27    0  36.8   0.34  27      0
765     5  121   72   23  112  26.2  0.245  30      0
766     1  121   60    0    0  30.1  0.349  47      1
767     1   93   70    0    0  30.4  0.315  23      0

[768 rows x 9 columns]

In [7]:
ds1=d1.interpolate()

In [8]:
ds1

     preg plas pres skin test  mass   pedi age  class
0       6  148   72   35    0  33.6  0.627  50      1
1       1  148   66   29    0  26.6  0.351  31      0
2       8  183   64    0    0  23.3  0.672  32      1
3       1   89   66   23   94  28.1  0.167  21      0
4       0  137   40   35  168  43.1  0.167  33      1
..    ...  ...  ...  ...  ...   ...    ...  ..    ...
763    10  101   76   48  180  32.9  0.171  63      0
764     2  122   70   27    0  36.8   0.34  27      0
765     5  121   72   23  112  26.2  0.245  30      0
766     1  121   60    0    0  30.1  0.349  47      1
767     1   93   70    0    0  30.4  0.315  23      0

[768 rows x 9 columns]

In [9]:
ds1.isnull().sum()

preg     0
plas     0
pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [10]:
X=ds1.iloc[:,0:8]
Y=ds1.iloc[:,8]
Input=X.values
Output=Y.values
#splitting the data into 20% test data and 80% training data.
input_train, input_test, output_train, output_test = train_test_split(Input, Output, test_size = 1/5, random_state = 1)

In [11]:
print(input_train)
print(output_train)

[[9 '145' '80' ... '37.9' '0.637' '40']
 [10 '129' '62' ... '41.2' '0.441' '38']
 [7 '102' '74' ... '37.2' '0.204' '45']
 ...
 [13 '126' '90' ... '43.4' '0.583' '42']
 [4 '171' '72' ... '43.6' '0.479' '26']
 [9 '102' '76' ... '32.9' '0.42' '46']]
[1 1 0 0 0 0 1 1 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0
 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 1 1 0 0 0
 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 1 1 0 1 1 0 0 1 0 1 0 1
 0 0 0 1 1 0 1 0 0 1 1 1 0 0 1 0 1 1 0 1 1 0 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1
 1 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1
 0 1 1 0 1 1 1 0 1 0 0 1 1 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1
 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0
 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 1 0 0 1
 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 1
 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 1 1 1 0 0 0
 0 1 1 1 1 1 1 1 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 1 0 1
 0 0 0 1 0 1 1 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 0 1 0 1
 1 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 1
 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 1 1 1 1]

In [25]:
model = GaussianNB()    # model selection - Gaussian Naive Bayes
model.fit(input_train,output_train)    # model Training 
predicted_output = model.predict(input_test)     # model testing using test data
print(predicted_output)
VarianceGB = np.var(predicted_output)       # variance 
test_errorGB = mean_squared_error(output_test,predicted_output)       # squared error which was same as mean Squared error in the previous line
BiasGB=np.sqrt(test_errorGB+VarianceGB)     # MSE=(Bias)^2-Variance

[0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0
 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 1 1 1 0 0
 1 0 1 0 0 1 1 0 0 0 0 1 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0
 0 0 0 1 0 0]

In [13]:
#input from the user or any device
preg =float(input("preg->"))
plas =float(input("plas->"))
pres =float(input("pres->"))
skin =float(input("skin->"))
test =float(input("test->"))
mass =float(input("mass->"))
pedi =float(input("pedi->"))
age  =float(input("age->"))
testinput = [[preg,plas,pres,skin,test,mass,pedi,age]]
predicted_output=model.predict(testinput)
print(predicted_output)

preg->4
plas->5
pres->2
skin->543
test->4
mass->123
pedi->88
age->56
[1]

In [14]:
kfold = KFold(n_splits=10, random_state=7)
resultsGB = cross_val_score(model, X, Y, cv=kfold)
print(resultsGB.mean())  # cross validation score for Gaussian Naive Bayes

0.7525803144224197

C:\Users\Sankhadip\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

In [29]:
model = KNeighborsClassifier() # model selection - Knn
model.fit(input_train,output_train)  # model Training
predicted_output=model.predict(input_test) # predicted output from the test input
print(predicted_output)
VarianceKN = np.var(predicted_output)       # variance 
test_errorKN = mean_squared_error(output_test,predicted_output) # squared error which was same as mean Squared error in the previous line
BiasKN=np.sqrt(VarianceKN+test_errorKN)  # MSE=(Bias)^2-Variance

[1 1 0 0 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 1 0 0 0 0 0 1 0 0 0
 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 1 1 0 0
 1 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1
 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0
 0 0 0 1 0 0]

In [ ]:
#Input from a user or a device
preg =float(input("preg->"))
plas =float(input("plas->"))
pres =float(input("pres->"))
skin =float(input("skin->"))
test =float(input("test->"))
mass =float(input("mass->"))
pedi =float(input("pedi->"))
age  =float(input("age->"))
testinput = [[preg,plas,pres,skin,test,mass,pedi,age]]
predicted_output=model.predict(testinput)   # predicting to a user input 
print(predicted_output)

In [30]:
kfold = KFold(n_splits=10, random_state=7)
resultskn = cross_val_score(model,X,Y,cv=kfold)

C:\Users\Sankhadip\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

In [ ]:
#from Cross Validation we can see the crossVal of Knn< crossVal of GB

In [31]:
print("Cross Validation score for Naive Bayes: {0}".format(resultsGB.mean()))# cross validation score for Naive Bayes
print("Variance for Gausian Naive Bayes : {0}".format(VarianceGB))
print("Bias for Gausian Naive Bayes: {0}".format(BiasGB))
#-------------------------------------------------------------------------------------------------------
print("Cross Validation score for KNN: {0}".format(resultskn.mean()))# cross validation score for Knn
print("Variance for KNN : {0}".format(VarianceKN))
print("Bias for KNN: {0}".format(BiasKN))

Cross Validation score for Naive Bayes: 0.7525803144224197
Variance for Gausian Naive Bayes : 0.21453870804520153
Bias for Gausian Naive Bayes: 0.6646889763776204
Cross Validation score for KNN: 0.7213773069036227
Variance for KNN : 0.21453870804520153
Bias for KNN: 0.6933775842057254

In [ ]:
#Naive Bayes is better than Knn .